<button (click)="add()">Add</button>
<button (click)="remove()">Remove</button>
<div>
    <input type="text"  placeholder="firstname" [(ngModel)]="firstname">
    <input type="text" [(ngModel)]="lastname" placeholder="lastname">
    <input type="text" [(ngModel)]="email" placeholder="email">
    <input type="text" [(ngModel)]="id" placeholder="id">
    <input type="text" [(ngModel)]="phonenumber" placeholder="phoneNo.">
    <input type="text" [(ngModel)]="designation" placeholder="designation">
    <input type="text" [(ngModel)]="dateofbirth" placeholder="DOB">    
</div>

